:root {
    --background-color: #f3f7f0;
    --primary-color: #19323c;
    --accent-color: #a93f55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Lora;
}

body {
    background-color: #f3f7f0;
}

fieldset {
    border: none;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

img {
    width: 70px;
    align-self: center;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    color: var(--background-color);
    background-color: var(--accent-color);
    border: 1px solid #c8c8c751;
    border-radius: 10px;
    align-self: center;

    transition: 0.3s all ease;
}

button:hover {
    cursor: pointer;
    background-color: #c54d65;
    border: 1px solid var(--background-color);
}

button:active {
    transform: translate(0, 2px);
}

.library-buttons {
    display: flex;
}

.book-list > h3 {
    font-size: 2rem;
}

.library-editor {
    font-size: 1.3rem;
}

.library-editor h3 {
    font-size: 1.5rem;
}

.header {
    color: white;
    text-align: center;
    padding: 2rem 0;
    background-color: #19323c;

    box-shadow: 0 1px 1rem black;
}

.main {
    margin: 1rem;
}

.current-library {
    border: 1px solid black;
    max-width: fit-content;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library {
    display: flex;
    flex-flow: row wrap;
    min-height: 366px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #426471;
    color: white;

    border: 2px solid #19323c;
    border-radius: 10px;

    box-shadow: 8px 8px 0px white, 11px 11px 0px #426471;

    padding: 1rem;
    margin: 1rem;

    max-width: max-content;
    flex: 1;
}

.book * {
    margin: 4px 0;
}

.light {
    font-weight: lighter;
}

.form {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0.5rem 1rem;
}

.form input {
    font-size: 1rem;
    font-weight: light;
    padding: 0.2rem 0.4rem;
}

.library-buttons {
    margin-top: 0.4rem;
    display: flex;
    gap: 0.5rem;
}
